<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="heven.holt.model_main">

    <application android:theme="@style/common_AppTheme">
        <activity
                android:label="This is Title"
                android:logo="@mipmap/ic_launcher"
                android:name="heven.holt.main.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
