<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="heven.holt.model.camera">

    <application android:theme="@style/common_AppTheme">
        <activity android:name="heven.holt.model.camera.ui.SurfaceViewCreateActivity"/>
        <activity android:name="heven.holt.model.camera.ui.SurfaceViewCameraActivity"/>
        <activity android:name="heven.holt.model.camera.ui.XSelectorActivity"/>
        <activity android:name="heven.holt.model.camera.ui.XSelectorShapeActivity"/>
        <activity android:name="heven.holt.model.camera.ui.XSelectorShadowActivity"/>
        <activity android:name="heven.holt.model.camera.ui.ExoPlayerActivity"/>
        <activity android:name="heven.holt.model.camera.ui.AutoScrollViewPagerActivity"/>
    </application>

</manifest>
